<!-- Created by George Totolos 7-2-2015 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inventory</title>

    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="scripts/scripts.js"></script>          <!-- External javascript/jquery to handle tabbing -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<script>
    // Access Parse database (ID, key)
    Parse.initialize("lXpYJrImjyl3YSKDvxX9R6H3GGqIKQrB6WbI6Eu1", "tmfM1mnCsFEE9onzPSAqwKubvgKakqPppNx8dnsq");
</script>
<h1>Coffee Import Tracker</h1>

<!-- Navigation menu -->
<ul class="nav">
    <li><a href="main.html">Home</a></li>
    <li class="current"><a href="inventory.html">Inventory</a></li> <!-- "current" means user is on this page -->
    <li><a href="shipments.html">Shipments</a></li>
</ul>

<!-- Home page contents -->
<div class="content">

    <h2><!-- Heading of page, buttons are in line horizontally -->
        Inventory |
        <!-- Button to open New Product form -->
        <!--<a href="#openModal"><button>New Product</button></a> -->
        <a href="#newProductModal" class="btn">New Product</a>
        <a href="#modifyProductModal" class="btn">Modify Product</a>
        <a href="#deleteProductModal" class="btn">Remove Product</a>
    </h2>
    <p>

<!-- MAIN TABLE: Display table from external script (scripts.js) -->
        <div class=table-class" id="table-container">
            <table id="output-table">
                <tr>
                    <!-- Table Titles -->
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Weight</th>
                    <th>Cost</th>
                    <th>Sold?</th>
                    <th>Price Sold</th>
                    <th>Shipment ID</th>
                </tr>
            </table>
        </div>

        <!-- (External script) Get entries from Parse's Product database -->
        <script>
            getProductTable();
        </script>





<!-- BUTTON ACTIVATED MODAL WINDOWS: Forms for user to create a new product, modify, or remove -->

        <!----------------------------------- New Product ----------------------------------->
        <div id="newProductModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>New Product Entry</h2>
                <form action="parse-form" onsubmit="submitProduct();">
                    <p><input placeholder="Product ID" id="add-id" type="text"></p>
                    <p><input placeholder="Name of Product" id="add-name" type="text"></p>
                    <p><input placeholder="Weight" id="add-weight" type="Number"></p>
                    <p><input placeholder="Cost of Product" id="add-cost" type="number"></p>
                    <p> Product sold?
                        <select id="add-sold">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </p>
                    <p><input placeholder="Price Sold" id="add-priceSold" type="number"></p>
                    <p><input placeholder="Shipment ID" id="add-shipmentId" type="text"></p>
                    <p><input id="parse-submit" type="submit"></p>
                </form>
            </div>
        </div>

        <!----------------------------------- Modify Product ----------------------------------->
        <!--
        USAGE:
            User input ProductID field then presses "Find Product" button. Other field auto-generate
            based on parse entry. From all the user has to do is change whatever fields they want and
            hit "Apply Changes". All modifications will be updated for the Product with the specified ID
        -->
        <div id="modifyProductModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>Enter Product ID to Modify</h2>
                <form name="modifyForm" action="parse-form" onsubmit="modifyProduct();">
                    <p><input name="idNAME" placeholder="Product ID" id="modify-id" type="text">
                        <button onclick="generateProducts();">Find Product</button></p>
                    <p><input name="nameNAME" placeholder="Name of Product" id="modify-name" type="text"></p>
                    <p><input name="weightNAME" placeholder="Weight" id="modify-weight" type="Number"></p>
                    <p><input name="costNAME" placeholder="Cost of Product" id="modify-cost" type="number"></p>
                    <p> Product sold?
                        <select name="soldNAME" id="modify-sold">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </p>
                    <p><input name="priceSoldNAME" placeholder="Price Sold" id="modify-priceSold" type="number"></p>
                    <p><input name="shipmentIdNAME" placeholder="Shipment ID" id="modify-shipmentId" type="text"></p>
                    <p><input value = "Apply Changes" id="modify-submit" type="submit"></p>
                </form>
            </div>
        </div>

        <!----------------------------------- Delete Product ----------------------------------->
        <!--
       USAGE:
           User inters product ID for the product they wish to delete. Upon "Remove Product" button press,
           the object with the specified ID is removed from parse.
       -->
        <div id="deleteProductModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <h2>Enter Product ID to Remove</h2>

                <form action="parse-form" onsubmit="removeProduct();">
                    <p><input placeholder="Product ID" id="delete-id" type="text"></p>
                    <p><input value="Remove Product" id="delete-submit" type="submit"></p>
                </form>

            </div>
        </div>



<!-- SCRIPTS: Javascript/jquery to control parse inputs, outputs, modifications.  -->

    <!----------------------------------- New Product SCRIPT----------------------------------->
        <script>
            function submitProduct() // Called upon submission button
            {
                event.preventDefault(); // prevent auto-refresh
                var Products = Parse.Object.extend("Products"); // Access Products in Parse
                var product = new (Products); // Create new instance of Products object
                // Get data from user forms
                var id = document.getElementById('add-id').value;
                var name = document.getElementById('add-name').value;
                var weight = document.getElementById('add-weight').value;
                var cost = document.getElementById('add-cost').value;
                var sold = document.getElementById('add-sold').value;
                // Compensate for boolean value
                if (sold == "false")
                {
                    var priceSold = 0;
                }
                else{
                    var priceSold = document.getElementById('add-priceSold').value;
                }
                var shipmentId = document.getElementById('add-shipmentId').value;
                // Add data to Parse
                product.set("ProductID", id);
                product.set("ProductName", name);
                product.set("Weight",  parseFloat(weight));
                product.set("ProductCost",  parseFloat(cost));
                product.set("Sold", (sold == 'true'));
                product.set("PriceSold", parseFloat(priceSold));
                product.set("ShipmentID", shipmentId);
                product.save();
                location.reload(); // Refresh page
            }
        </script>

    <!----------------------------------- Modify Product SCRIPTS (2) ----------------------------------->
        <script>
            // Auto fills in forms based on product ID for user modification
            function generateProducts()
            {
                event.preventDefault(); // Prevent refresh
                var id = document.getElementById('modify-id').value;
                var Products = Parse.Object.extend("Products");
                var query = new Parse.Query(Products);
                // Find product with specified ID
                query.equalTo("ProductID",id);
                query.first({
                    success: function(object) {
                        // Fill in forms from product ID for modification
                        document.modifyForm.nameNAME.value = object.get("ProductName");
                        document.modifyForm.weightNAME.value = object.get("Weight");
                        document.modifyForm.costNAME.value = object.get("ProductCost");
                        document.modifyForm.soldNAME.value = object.get("Sold");
                        document.modifyForm.priceSoldNAME.value = object.get("PriceSold");
                        document.modifyForm.shipmentIdNAME.value = object.get("ShipmentID");
                    },
                    error: function(error) {
                        alert("Error: Could not find product");
                    }
                });

            }
        </script>

        <script>
            // Actually does the product entry modification
            function modifyProduct()
            {
                event.preventDefault();
                // Gather data from forms
                var id = document.getElementById('modify-id').value;
                var name = document.getElementById('modify-name').value;
                var weight = document.getElementById('modify-weight').value;
                var cost = document.getElementById('modify-cost').value;
                var sold = document.getElementById('modify-sold').value;
                if (sold == "false")
                {
                    var priceSold = 0;
                }
                else{
                    var priceSold = document.getElementById('modify-priceSold').value;
                }
                var shipmentId = document.getElementById('modify-shipmentId').value;

                // Set the new data
                var Products = Parse.Object.extend("Products");
                var query = new Parse.Query(Products);
                query.equalTo("ProductID",id);
                query.first({
                    success: function(product) {
                        product.set("ProductID", id);
                        product.set("ProductName", name);
                        product.set("Weight",  parseFloat(weight));
                        product.set("ProductCost",  parseFloat(cost));
                        product.set("Sold", (sold == 'true'));
                        product.set("PriceSold", parseFloat(priceSold));
                        product.set("ShipmentID", shipmentId);
                        product.save();
                        location.reload();
                    },
                    error: function(error) {
                        alert("Error: Could not modify product");
                    }
                });
            }
        </script>

    <!----------------------------------- Remove Product SCRIPT ----------------------------------->
        <script>
            // Removes product based on user entered ID
            function removeProduct() {
                event.preventDefault();
                var id = document.getElementById('delete-id').value;
                var Products = Parse.Object.extend("Products");
                var query = new Parse.Query(Products);
                // Find product with specified ID
                query.equalTo("ProductID",id);
                query.first({
                    success: function(product) {
                        //alert("Found product");
                        product.destroy({}); // Remove
                        location.reload();
                    },
                    error: function(error) {
                        alert("Error: Could not remove product");
                        location.reload();
                    }
                });
            }
        </script>

    </p>

</div>




</body>
</html>
