<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Shipment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>



</head>
<body>
<h1>New Shipment</h1>
<form method="post" action="#"  th:action="@{/newshipment}" th:object="${shipment}">

    Enter Shipment ID: <input type="text" th:field="*{shipmentId}" />
    <br></br>
    Enter Total Cost: $<input type="text" th:field="*{totalCost}" />
    <br></br>
    Enter Cost of Products: $<input type="text" th:field="*{productCost}" />
     <br></br>
    Date Shipment Arrived: <input type="text" th:field="*{dateReceived}" id="dateReceived" />  Format: mm/dd/yyyy
    <br></br>

    Shipment Origin: <input type="text" th:field="*{origin}" />
    <br></br>
    <button type="submit">Submit</button>
</form>


</body>
</html>