<!-- Created by George Totolos 7-2-2015 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shipments</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/menu.css">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="scripts/scripts.js"></script>          <!-- External javascript/jquery to handle tabbing -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script>
    // Access Parse database (ID, key)
    Parse.initialize("lXpYJrImjyl3YSKDvxX9R6H3GGqIKQrB6WbI6Eu1", "tmfM1mnCsFEE9onzPSAqwKubvgKakqPppNx8dnsq");
</script>
<h1>Coffee Import Tracker</h1>

<!-- Navigation menu -->
<ul class="nav">
    <li><a href="main.html">Home</a></li>
    <li><a href="inventory.html">Inventory</a></li>
    <li class="current"><a href="shipments.html">Shipments</a></li>
</ul>

<div class="content">
    <h2>Shipments |
        <!-- Inventory Management buttons -->
        <a href="#newShipmentModal" class="btn">New Shipment</a>
        <a href="#veiwProductsModal" class="btn">View a Shipment's Products</a>
    </h2>
    <p>

<!-- MAIN TABLE: Display table from external script (scripts.js) -->
    <div class=table-class" id="table-container">
        <table id="output-table">
            <tr>
                <th>Shipment ID</th>
                <th>Date Received</th>
                <th>Origin</th>
                <th>Shipping Cost</th>
                <th>Total Cost</th>
                <th>Product Cost</th>
                <th>Weight</th>
                <th>Price Per Kg</th>
            </tr>
        </table>
    </div>

<!-- Get entries from Parse's Product database-->
    <script>
        getShipmentsTable();
    </script>



<!-- BUTTON ACTIVATED MODAL WINDOWS: Forms for user to create a new product, modify, or remove -->

    <!----------------------------------- New Product ----------------------------------->
    <div id="newProductModal" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>New Product Entry</h2>
            <form action="parse-form" onsubmit="submitProduct();">
                <p><input placeholder="Product ID" id="add-id" type="text" required></p>
                <p><input placeholder="Name of Product" id="add-name" type="text" required></p>
                <p><input placeholder="Weight" id="add-weight" type="Number" required></p>
                <p><input placeholder="Cost of Product" id="add-cost" type="number" required></p>
                <p> Product sold?
                    <select id="add-sold">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </p>
                <p><input placeholder="Price Sold" id="add-priceSold" type="number"></p>
                <p><input placeholder="Shipment ID" id="add-shipmentId" type="text"></p>
                <p><input id="parse-submit" type="submit"></p>
            </form>
        </div>
    </div>

<!-- SCRIPTS: Javascript/jquery to control parse inputs, outputs, modifications.  -->





    </p>

</div>

</body>
</html>
