<!-- Created by George Totolos 7-2-2015 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shipments</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/menu.css">
    <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="scripts/scripts.js"></script>          <!-- External javascript/jquery to handle tabbing -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script>
    // Access Parse database (ID, key)
    Parse.initialize("lXpYJrImjyl3YSKDvxX9R6H3GGqIKQrB6WbI6Eu1", "tmfM1mnCsFEE9onzPSAqwKubvgKakqPppNx8dnsq");
</script>
<h1>Coffee Import Tracker</h1>

<!-- Navigation menu -->
<ul class="nav">
    <li><a href="main.html">Home</a></li>
    <li><a href="inventory.html">Inventory</a></li>
    <li class="current"><a href="shipments.html">Shipments</a></li>
</ul>

<div class="content">
    <h2>Shipments</h2>
    <p>
        <!-- Product Table-->
    <div class=table-class" id="table-container">
        <table id="output-table">
            <tr>
                <th>Shipment ID</th>
                <th>Date Received</th>
                <th>Origin</th>
                <th>Shipping Cost</th>
                <th>Total Cost</th>
                <th>Product Cost</th>
                <th>Weight</th>
                <th>Price Per Kg</th>
            </tr>
        </table>
    </div>

    <!-- Get entries from Parse's Product database-->
    <script>
        getShipmentsTable();
    </script>

    </p>

</div>

</body>
</html>
