<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee Import and Inventory Management</title>
    <link rel="stylesheet" href="styles/style.css"></link>
    <script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="javascript/ViewShipment.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>




<script type="text/javascript">
    //on load
    $(document).ready(function(){

		//initParse();
        Parse.initialize("lXpYJrImjyl3YSKDvxX9R6H3GGqIKQrB6WbI6Eu1", "tmfM1mnCsFEE9onzPSAqwKubvgKakqPppNx8dnsq");
		//getUniqueProducts();


		$("#products").change(function(){queryShipments($("#products").val());});
    })

</script>
<body>
<h1>View Shipments</h1>

<select id="products"></select>

<br></br>

<table id="shipmentTable" align="center">
<tr><th>Product </th>
<th>Shipment ID </th>
<th>Price</th></tr>

</table>

</body>
</html>