<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shipment Weight Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Cost per Weight Calculator</h1>
<!--<form method="post" action="#"  th:action="@{/weightcalc}" th:object="${weightCalc}">
    Enter Shipping cost: <input type="text" name="shipping">
    Enter total weight of shipment: <input type="text" name="weight">
    <select>
        <option value="kg">kg</option>
        <option value="g">g</option>
    </select>

</form>-->


</body>
</html>