
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline-block;
}
.nav a {
    background: LightSteelBlue;
    border-radius: 3px 3px 0 0;
    color: White;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}
.current a {

    background: GhostWhite;
    color: SteelBlue;
    border-radius: 3px 3px 0 0;
}
.nav a:hover {
    background: slategray;
}